.data {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    display: flex;
}

.data--left {
    position: absolute;
    width: 25%;
}

.data--middle {
    position: absolute;
    left: 25%;
    width: 55%;
}

.data--right {
    position: absolute;
    right: 0;
    width: 20%;
}