.events {
    color: white;
    position: absolute;
    font-size: 2.5em;
    text-align: left;
    width: 30%;
    padding-top: 3%;
}

.events li {
    list-style: none;
}

.events .events__container {
    margin: 5% 0%;
}