.news__container {
}

.news--index {
    font-size: 2em;
}

.news--author {
    display: none;
    font-size: 2em;
    padding-bottom: 1%;
}

.news--title {
    padding: 2%;
    text-align: start;
    font-size: 2em;
}

.news--description {
    padding: 2%;
    text-align: start;
    font-size: 1.5em;
}