@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');
@import 'microphone';
@import 'camera';
@import 'tasks';
@import 'statusBar';
@import 'time';
@import 'events';
@import 'weather';
@import 'news';
@import 'data';
@import 'steps';

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
    background-color: black;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.app {
    width: 100vw;
    height: 100vh;
}

button {
    position: absolute;
    top: 50vh;
    background-color: red;
    border: red;
    width: 100px;
    height: 100px;
}